{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="text-center">
    <h1>Welcome to My Portfolio</h1>
    <p class="lead">Hi, I'm James Powell, I am currently pursuing a PhD in Artificial Intelligence at MIT, where I focus on advanced machine learning and NLP.</p>
    <img src="{% static 'images/profile_photo.jpg' %}" class="img-fluid rounded-circle mb-4" alt="Profile Photo" style="max-width: 200px;">
    <p class="lead">My academic journey has been marked by active participation in research and leadership roles in AI research labs and technical workshops. Prior to MIT, I earned my Master’s in Computer Science from San Jose State University, maintaining a 3.8 GPA while engaging in hackathons, the AI club, and teaching assistantships. My foundation was built during my undergraduate years at UC Berkeley, where I explored electrical engineering and computer science, leading projects in robotics and blockchain technology.</p>
    <p class="lead">
    My professional experience spans top tech companies like Google, Facebook, Apple, and Tesla, where I’ve contributed to backend systems, machine learning models, and full-stack development. I’m also passionate about AI research, having published papers on topics such as quantum computing and ethics in AI. My goal is to continue developing AI-driven solutions that address real-world challenges.</p>
    <p>
        <a href="{% url 'about' %}" class="btn btn-primary btn-lg">Learn More About Me</a>
    </p>
    
    <!-- Add GitHub and LinkedIn links here -->
    <div class="social-links mt-4">
        <a href="https://github.com/hzkSJSU" target="_blank" class="btn btn-outline-dark mx-2">
            <i class="fab fa-github"></i> GitHub
        </a>
        <a href="https://www.linkedin.com/in/hamzazk99/" target="_blank" class="btn btn-outline-info mx-2">
            <i class="fab fa-linkedin"></i> LinkedIn
        </a>
    </div>
</div>
{% endblock %}
