{% extends 'base.html' %}
{% load static %}

{% block title %}Work Experience{% endblock %}

{% block content %}
<div class="container py-5">
    <h2 class="text-center mb-5">Work Experience</h2>
    
    <!-- Introduction Section -->
    <div class="text-center mb-5">
        <p class="lead">
            I gained valuable experience through internships and full time roles at Google, Facebook, Apple, and Tesla. As a Software Engineering Intern at Google, I optimized back-end services, improving scalability and performance by 20%, while streamlining CI/CD pipelines. At Facebook, I built machine learning models that increased user engagement by 12% and contributed to a 10% rise in daily active users. During my time at Apple, I worked on reducing app load times by 15%, enhancing the experience for millions of users. At Tesla, as a Full Stack Engineer, I developed dashboards that reduced factory downtime by 30% and improved data processing speed by 25%.</p>
        </p>
    </div>
    
    <!-- Work Experience Section -->
    <div class="row">
        {% for work in work_entries %}
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">{{ work.job_title }}</h5>
                    <h6 class="card-subtitle text-muted mb-3">{{ work.organization_name }}</h6>
                    <p class="card-text text-muted">
                        <i class="fas fa-calendar-alt"></i> {{ work.start_month }} {{ work.start_year }} - {{ work.end_month }} {{ work.end_year }}<br>
                        <i class="fas fa-map-marker-alt"></i> {{ work.location }}
                    </p>
                    <hr>
                    <p class="card-text">
                        <strong>Responsibilities:</strong> {{ work.responsibilities }}
                    </p>
                    <p class="card-text">
                        <strong>Achievements:</strong> {{ work.achievements }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
